{% extends 'Users/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'Blogs/css/create_blog.css' %}?{% now "U" %}">
{% endblock css %}

{% block content %}
<div style="display: flex;">
  <div class="content-section" style="display: flex; flex-direction: column;">
    <form method="POST" style="display: flex; flex-direction: column; ">
      
      {% csrf_token %}
      {{ form }}
      {{ form.media }} 
      <button class="btn btn-info btn-lg" type="submit">Post</button>
    </form>
  </div>
  <div class="container">
    <div class="data">
      <h2>Make Fascinating Blogs here !!!!</h2>
      <article>
          <h5>Benefits of our site and TIPS!!</h5>
          <ul>
            <li>Get to make impressive blogs</li>
            <li>Make Your Blogs with images</li>
            <li>Customize Yourself your blog</li>
            <li>See a preview of your blogs before posting</li>
          </ul>
      </article>
      </div>
  </div>
</div>
{% endblock content %}
