.form-control {
  margin-bottom: 2%;
  width: 50%;
}

.btn-info {
  display: flex;
  width: max-content;
  margin-top: 2%;
}

form {
  display: flex;
  /* justify-content: center;
  align-self: center;
  align-content: center;
  height: max-content;
  width: max-content; */
}

body {
  background-color: red;
}
